:root {
  font-family: Tenor Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: rgba(245,245,245);
  --text: rgba(60,60,60);

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--primary);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
  padding: 0px
}
